<body>
    <div class="main-content">
        <article class="widget">
            <form class="weatherLocation" method="GET" action="/weather">
                <label for="tempSearch"></label>
                <input placeholder="Enter location.." type="text" name="city" />
                <input type="submit" value="Search" />
            </form>
            <div class="place"><%= data.name %></div>
            <div class="temperature">
                <span><%= parseInt(data.main.temp) %>&#176;</span>
            </div>
            <div class="weatherInfo">
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>

                <div class="description">
                    <div class="weatherCondition">
                        <%= data.weather[0].description %>
                    </div>
                </div>
            </div>
            <div class="date">
                <span><%= moment().format('Do MMMM'); %></span>
            </div>
        </article>
        <form method="POST" class="addTo-btn" action="/weather/favorites">
            <input hidden type="text" name="city_id" value="<%=data.id%>" />
            <button
                class="btn btn-primary"
                id="addTo-btn"
                type="submit"
            ></button>
        </form>
    </div>
</body>
